body {
	
    background: #ECF3F9;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
}
.tweet,
.usertweet {
	background: #fff;
	 
  	display: block;
	border: 1px solid #dfe2e5;
	margin: 0 30%;
	padding: 20px 30px;
	
}
 
.tweet:hover,
.tweettopall:hover,
.tweettopuser:hover,
.usertweet:hover {
	background: #ECF3F9;
}

.tweettopall,
.tweetbottom,
.tweettopuser {
	background: #fff;
		
  	color: #478BCF;
	border: 1px solid #dfe2e5;
	margin: 5% 30% 0 30%;
	padding: 20px 30px;
	border-radius: .4em .4em 0px 0px;
	text-align: center;
}

.tweettopall,
.tweettopuser {
	margin: 5% 30% 0 30%;
}

.tweetbottom {
	margin: 0% 30%;
}

.tweettop:hover,
.tweetbottom:hover {
	background-color: #E1E8ED;

}
.username {
	font-weight: 600;

}

.username:hover {
	color: #478BCF;
	text-decoration: underline;
}

.timestamp {
	color: #8899A6;
	font-size: .8em;
}
